= form_for @worklist_item do |f|
  - if @worklist_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@worklist_item.errors.count, "error")} prohibited this worklist_item from being saved:"
      %ul
        - @worklist_item.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
