<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @role.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Parent role:</strong>
  <%= @role.parent_role_id %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
