%h1 Listing activities

%table
  %thead
    %tr
      %th Name
      %th Type
      %th Process definition
      %th Input schema
      %th Output schema
      %th Activity configuration
      %th X
      %th Y
      %th
      %th
      %th

  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.name
        %td= activity.type
        %td= activity.process_definition_id
        %td= activity.input_schema
        %td= activity.output_schema
        %td= activity.activity_configuration
        %td= activity.x
        %td= activity.y
        %td= link_to 'Show', activity
        %td= link_to 'Edit', edit_activity_path(activity)
        %td= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path
