%p#notice= notice

%p
  %b Name:
  = @workflow.name
%p
  %b User:
  = @workflow.user_id

= link_to 'Edit', edit_workflow_path(@workflow)
\|
= link_to 'Back', workflows_path
= link_to 'Export', export_workflow_path(@workflow)
= link_to 'Start Instance', start_instance_workflow_path(@workflow)
